body
{
    background:url("http://static1.squarespace.com/static/57881273bebafbfd3226f601/t/5a81c42c08522974e5e61c0a/1535042340172/");
}

h1 
{
    text-align:center;
    color:white;
    font-size:110px;
   
  
    font-family: 'Alegreya SC','Oswald',sans-serif;
    margin-top:20px;
}

p
{
    text-align: center;
    color:brown;
    font-weight:bold;
    font-size:60px;
    font-family: 'Alegreya SC','Oswald',sans-serif;
    background-color:white;
    border:2px solid black;
}


#Seniors
{
    background-color: #97c9f4
}

#Juniors
{
    background-color:#5e3096;
}

#Sophomores
{
    background-color:#1c8226;
    padding-bottom: 22px;

}

#Freshmen
{
    background-color:#eda60e;
}


.row {
  position:relative;
  display: inline-block;
  width: 100%;
  height: 140px;
  color:magenta;
  border:7px solid black;
    border-width: 35px;
  
}
 
.row:nth-child(1) 
{
    border-style: groove;
    border-width: 35px;
    border-color: #f9c91b;
    height:200px;
    margin-bottom: 35px;
}


.name {
  display: inline-block;
  width:55%;
  line-height: 155px;
  font-size:90px;
  font-family:'Pacifico', serif;
  color:white;
  margin-left:12px;
}

.score {
  position:relative;
  display:inline-block;
  width: 25%;
  font-size:80px;
  font-family:'Pacifico', serif;
  color:white;
}


